.install {

    .installbuttons {
        display: flex;
        flex-direction: row;
        margin: 1em 0;


        .installbuttons_store {
            text-align: center;
            img {
                width: 60%;
                max-height: 6em;
            }



            a {
                color: #333;
                text-decoration: none;
            }
        }
    }

    .proceed {

        margin: 3em 0;
        text-align: center;

        a {
            color: rgba(80, 80, 80, 1);
            text-decoration: none;
        }
    }
}
