.personalization {

    .goal__list {
        display: flex;
        flex-direction: column;
        margin: 2em 0;

        .goal__card {
            border: 1px rgba(240, 240, 240, 1) solid;
            border-radius: 1em;
            padding: 1em;
            margin: 1em;
            display: flex;
            flex-direction: row;

            text-transform: uppercase;

            h2 {
                font-weight: normal;
                flex: 1;
            }

            img {
                width: 50px;
                max-height: 50px;
            }
        }
    }
}
