* {
    font-size: 16px;
}

html {
    min-height: 100%;
}

body {
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
    background: rgba(240, 240, 240, 1);
    min-height: 100%;
    min-width: 400px;
    padding: 0;
    margin: 0;

    .main {
        width: 100%;
        height: 100%;
        min-height: 100%;

        background: #fff;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1em;

        padding: 1em;
    }
}

h1 {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: #fff;
    font-weight: normal;
    margin: -1em;
    padding-top: 9em;
    padding-bottom: 2em;
    padding-left: 2em;
    background: url('../images/headbar.png');
    background-size: cover;
    background-repeat: no-repeat;
}


.info {
    padding: 1em;
    line-height: 2em;
    text-align: justify;
}

.tooltip {
    position: absolute;
    width: 400px;
    background: rgba(255, 255, 255, 1);
    border: 1px rgba(240, 240, 240, 1) solid;
    padding: 1em;
}


@media all and (min-width: 400px) {
    .main {
        width: 400px !important;
    }
}


@import 'partials/personalization';
@import 'partials/commitment';
