<div class="install">
    <h1 class="background">Start the Journey</h1>
    <div class="info">
        Junto is a social habit tracking app that allows you to achieve goals together with friends
    </div>
    <div class="info">
        Get Junto now, to track your progress.
    </div>
    <div class="installbuttons">
        <div class="installbuttons_store">
            <a href="http://umfragen.ise.tu-darmstadt.de/sosci/junto/?password=test&mp=0&mc=1&dv=1">
                <img src="images/playstore.jpg" />
            </a>
        </div>
        <div class="installbuttons_store">
            <a href="http://umfragen.ise.tu-darmstadt.de/sosci/junto/?password=test&mp=0&mc=1&dv=1">
                <img src="images/appstore.jpg" />
            </a>
        </div>
    </div>
    <div class="proceed">
        <a href="http://umfragen.ise.tu-darmstadt.de/sosci/junto/?password=test&mp=0&mc=1&dv=0">No thanks, proceed</a>
    </div>
</div>
