<div class="install">
    <h1 class="background">Start the Journey</h1>
    <div class="info">
        Get Junto now, to track your progress together with friends.
    </div>
    <div class="installbuttons">
        <div class="installbuttons_store">
            <a href="https://play.google.com/store/apps/details?id=io.pallab.junto">
                <img src="images/playstore.jpg" />
            </a>
        </div>
        <div class="installbuttons_store">
            <a href="https://itunes.apple.com/de/app/junto-social-habits/id1163132563">
                <img src="images/appstore.jpg" />
            </a>
        </div>
    </div>
    <div class="proceed">
        <a href="/">No thanks</a>
    </div>
</div>
