<div class="pitch">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <h1>Embark on a new journey</h1>
            <figure><img src="images/hiker.png"></figure>
                <button class="customNextBtn">Next</button>
        </div>
        <div class="item">
            <h1>To build healthy habits</h1>
            <figure><img src="images/cardiogram.png"></figure>
            <button class="customNextBtn">Next</button>
        </div>
        <div class="item">
            <h1>that actually stick</h1>
            <figure class="table">
                <table>
                    <tr>
                        <th>Old way</th>
                        <th>New way</th>
                    </tr>
                    <tr>
                        <td>seeking results</td>
                        <td>seeking rituals</td>
                    </tr>
                    <tr>
                        <td>Big goals</td>
                        <td>babysteps</td>
                    </tr>
                    <tr>
                        <td>retained environment</td>
                        <td>new, supportive environment</td>
                    </tr>
                </table>
            </figure>
          <form action="04.html" method="get">
          <button>Let's get started</button>
          </form>

        </div>
    </div>
</div>
