<div class="commitment">
    <h1 class="background headline-data">Feel more energized</h1>
    <div class="info">
        Building great habits takes time. Why don’t we start with a very simple challenge?
    </div>
    <div class="goal__list">
        <div class="goal__card">
            <div class="card__head">
                <h2>Drink Water</h2>
                <img src="images/water.png" />
            </div>
            <p>For the next 3 days, Drink Water when you wake up to kickstart your body and start your day with a success!</p>
        </div>
    </div>
    <form action="c4.html" method="get">
        <button>I accept the challenge</button>
    </form>
</div>
