<div class="commitment">
    <h1>Goal XYZ</h1>
    <div class="info">
        Goal setting is not only about choosing the rewards you want to enjoy, but also the costs you are willing to pay.
    </div>

</div>
