<div class="pitch">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <h1>Embark on a new journey</h1>
            <figure><img src="images/hiker.png"></figure>
            <div class="navButton">
                <div class="customPrevBtn">&lsaquo;</div>
                <div class="customNextBtn">&rsaquo;</div>
            </div>
        </div>
        <div class="item">
            <h1>To build healthy habits</h1>
            <figure><img src="images/loerres.png"></figure>
            <div class="navButton">
                <div class="customPrevBtn">&lsaquo;</div>
                <div class="customNextBtn">&rsaquo;</div>
            </div>
        </div>
        <div class="item">
            <h1>that actually stick</h1>
            <figure class="table">
                <table>
                    <tr>
                        <th>Mistakes</th>
                        <th>Solution</th>
                    </tr>
                    <tr>
                        <td>seeking a result</td>
                        <td>seeking a ritual</td>
                    </tr>
                    <tr>
                        <td>goal too big</td>
                        <td>babysteps</td>
                    </tr>
                    <tr>
                        <td>old environment</td>
                        <td>change it</td>
                    </tr>
                </table>
            </figure>
            <div class="navButton">
                <div class="customPrevBtn">&lsaquo;</div>
                <div class="customNextBtn">&rsaquo;</div>
            </div>
        </div>
    </div>
    <button type="button">Let's get started</button>
</div>
