<div class="pitch">

  <br>
  <br>
  <br>
  <br>

  <div class="owl-carousel owl-theme">
    <div class="item">

      <h3>Embark on a new journey</h3>
      <figure><img src="images/hiker2.png"></figure>
    </div>
  <div class="item">

    <h3>To build healthy habits</h3>
    <figure><img src="images/refresh.png"></figure>
  </div>

  <div class="item">

    <h3>that actually stick
    </h3>

    <table class="info" style="width:100%">
      <tr>
        <th>Common Mistake</th>
        <th>Solution</th>
      </tr>
      <tr>
        <td>seeking a result</td>
        <td>seeking a ritual</td>
      </tr>
      <tr>
        <td>goal too big</td>
        <td>babysteps</td>
      </tr>
      <tr>
        <td>old environment</td>
        <td>change it</td>
      </tr>
    </table>

  </div>

</div>
<p>
  <button type="button">Let's get started</button>
</p>
</div>

<!-- <figure><img src="images/hiker.png"></figure></div> -->
