<div class="install">
    <h1>Start the Journey</h1>
    <div class="info">
        Install Junto now, to track your challenge.
    </div>
    <div class="installbuttons">
        <div class="installbuttons_store">
            <img src="images/playstore.jpg" />
        </div>
        <div class="installbuttons_store">
            <img src="images/appstore.jpg" />
        </div>
    </div>
    <div class="proceed">
        <a class="text-shadow underline" href="#">Not interessted, proceed</a>
    </div>
</div>
