<div class="install">
    <h1 class="background">Start the Journey</h1>
    <div class="info">
        Install Junto now, to track your challenge.
    </div>
    <div class="installbuttons">
        <div class="installbuttons_store">
            <img src="images/playstore.jpg" />
        </div>
        <div class="installbuttons_store">
            <img src="images/appstore.jpg" />
        </div>
    </div>
    <div class="proceed">
        <a href="#">No thanks, proceed</a>
    </div>
</div>
