<div class="pitch">
    <div class="owl-carousel owl-theme">
        <div class="item">
            <h1>Embark on a new journey</h1>
            <figure><img src="images/hiker.png"></figure>
                <button class="customNextBtn">Next</button>
        </div>
        <div class="item">
            <h1>To build healthy habits</h1>
            <figure><img src="images/cardiogram.png"></figure>
            <button class="customNextBtn">Next</button>
        </div>
        <div class="item">
            <h1>that actually stick</h1>
            <div class="info2">
              Over 80% of New Year's Resolutions fail. <i rel="tooltip" title="A research study by psychology professor John Norcross reports 81% and there are other studies quoting a 90% and 92% failure rate. Prof. Norcoss tracked the success rate of New Year’s resolutions over a two-year span.">i</i> <br>Why?
            </div>
            <figure class="table">
                <table>
                    <tr>
                        <th>Problem</th>
                        <th>Solution</th>
                    </tr>
                    <tr>
                        <td>seeking results</td>
                        <td>seeking rituals</td>
                    </tr>
                    <tr>
                        <td>starting <br> too big</td>
                        <td>making babysteps</td>
                    </tr>
                    <tr>
                        <td>same old environment</td>
                        <td>supportive environment</td>
                    </tr>
                </table>
            </figure>
          <form action="pc2.html" method="get">
          <button>Let's get started</button>
          </form>

        </div>
    </div>
</div>
