<div class="personalization">
    <h1 class="background">Set a personal Goal</h1>
    <div class="info">
      Which goal would you like to start with?
      <!-- <i rel="tooltip" title="Tcome?">i</i> -->
    </div>
    <div class="goal__list">
        <a href="commitment.html?hl=Feel more energized">
            <div class="goal__card">
                <h2>Feel more energized</h2>
                <img src="images/energy.png" />
            </div>
        </a>
        <a href="commitment.html?hl=Improve productivity">
            <div class="goal__card">
                <h2>Improve productivity</h2>
                <img src="images/focus.png" />
            </div>
        </a>
        <a href="commitment.html?hl=Fitness">
            <div class="goal__card">
                <h2>Fitness</h2>
                <img src="images/train.png" />
            </div>
        </a>
    </div>
</div>
