<div class="personalization">
    <h1>Set a personal Goal</h1>
    <div class="info">
        Goal setting is not only about choosing the rewards you want to enjoy, but also the costs you are willing to pay.
    </div>
    <div class="goal__list">
        <div class="goal__card">
            <h2>Feel energized</h2>
            <img src="images/energy.png" />
        </div>
        <div class="goal__card">
            <h2>Improve productivity</h2>
            <img src="images/focus.png" />
        </div>
        <div class="goal__card">
            <h2>Get fitter</h2>
            <img src="images/train.png" />
        </div>
    </div>
</div>
