<div class="personalization">
    <h1>Set a personal Goal</h1>
    <div class="info">
        If you focus on one thing, you're 33% more likely <i rel="tooltip" title="The real challenge is not determining if you want the result, but if you are willing to accept the sacrifices required to achieve your goal. Do you want the lifestyle that comes with your quest? Do you want the boring and ugly process that comes before the exciting and glamorous outcome?">i</i>

    </div>
    <div class="goal__list">
        <div class="goal__card">
            <h2>Feel more energized</h2>
            <img src="images/energy.png" />
        </div>
        <div class="goal__card">
            <h2>Improve productivity</h2>
            <img src="images/focus.png" />
        </div>
        <div class="goal__card">
            <h2>Get fitter</h2>
            <img src="images/train.png" />
        </div>
    </div>
</div>
