<h1>3 science-backed reasons</h1>

<p class="info"> We dug through the literature for you to find the 3 most common mistakes
that make us more likely to fall back into your old habits and
patterns than you are to stick with a new behavior.</p>
