<h1>3 science-backed reasons</h1>

<table style="width:100%">
  <tr>
    <th>Problem</th>
    <th>Solution</th>
  </tr>
  <tr>
    <td>seek a result</td>
    <td>seek a ritual</td>
  </tr>
  <tr>
    <td>look at the whole staircase</td>
    <td>looking at the (baby)steps</td>
  </tr>
  <tr>
    <td>new behavior, old environment</td>
    <td>change what surrounds you</td>
  </tr>
</table>
